

/*common shared styles*/

*{
    margin:0;
    padding:0;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.primary-button{
    background-color:#FD6E0A;
    color:white;
    font-size:20px;
    border-radius:3px;
    border:0;
    padding:18px 35px;
    font-weight:600;
}


/*HEADER*/
/*Header Nav style*/

header{
    background-color:#FFF8F3;
}


nav{
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin:0 10%;
}

.nav-title-name{
    color:#181818;
    font-weight:800;
    font-size:45px;
}
.primary-color-text{
color:#FD6E0A;
}

nav>ul{
    display:flex;
    align-items:center;
}

nav>ul>li{
    list-style:none;
    margin-right:50px;
    
}
nav>ul>li>a{
    text-decoration:none;
    color:#474747;
    font-size:18px;
    
}


/*Background banner style*/


.banner{
    padding:3% 3% 3% 10%;
    display:flex;
    align-items:center;
}

.banner-title{
    color:#474747;
}
.button-title-name{
    color:#181818;
}

.banner-detail{
    color:#757575;
}


.profile-photo{
    max-width:50%;    /*it was 500px*/
}