

/*common shared styles*/

*{
    margin:0;
    padding:0;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.primary-button{
    background-color:#FD6E0A;
    color:white;
    font-size:20px;
    border-radius:3px;
    border:0;
    padding:18px 35px;
    font-weight:600;
}




.section-title{
    color:#181818;
    text-align : center;
    font-size: 35px;
    font-weight:700;
    margin-bottom:20px;

}
.section-description{
color:#757575;
text-align:center;
font-size:18px;
margin-bottom:20px;
    }
    


/*HEADER*/
/*Header Nav style*/

header{
    background-color:#FFF8F3;
    background-image:url("images/header_bg.png");
    background-repeat:no-repeat;
    background-position:bottom right;
}


nav{
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin:0 10%;
}

.nav-title-name{
    color:#181818;
    font-weight:800;
    font-size:45px;
}
.primary-color-text{
color:#FD6E0A;
}

nav>ul{
    display:flex;
    align-items:center;
}

nav>ul>li{
    list-style:none;
    margin-right:50px;
    
}
nav>ul>li>a{
    text-decoration:none;
    color:#474747;
    font-size:18px;
    
}


/*Background banner style*/


.banner{
    padding:3% 3% 0% 10%;
    display:flex;
    align-items:center;
}

.banner-title{
    color:#474747;
  
    font-size:45px;
}
.banner-title-name{
    color:#181818;
    font-size:85px;
    font-weight:700px;  
    margin-top:7px;
    margin-bottom:20px;


}

.banner-detail{
    color:#757575;
    margin-bottom:20px;
}


.profile-photo{
    max-width:50%;    /*it was 500px*/
}


/* Main Section Sytle*/

/* About section*/


.about{
    padding:130px;
    border-radius:10px;
    background:#FFF8F3;
    margin:130px 0;
}

main{
    width:1140px;
    margin:0 auto;
}

.about-container{
    display:flex;
  justify-content:space-around
}

.about-info{
    text-align:center;
}